/*.container1 {
    display: flex;
}

.containerItem1 {
    background-color: plum;
    padding: 15px;
    margin: 25px;
    text-align: center;
    width: 300px;
    height: 100px;
    font-size: 25px;
}*/
